html,
body {
	margin: 0px;
	padding: 0px;
	background: rgb(20, 20, 20);
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#root {
	.wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.input {
		display: flex;
		justify-content: center;
		&-textfield {
			padding: 10px;
		}
		&-button {
			height: 100%;
		}
	}
	.list {
		flex-flow: row;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.item {
		margin: 4px;
		background: #777777;
		padding: 5px;
		display: flex;
		max-width: 200px;
		width: 100%;
		border-radius: 2px;
		cursor: pointer;

		&-image {
			max-width: 200px;
			img {
				width: 100px;
				display: block;
			}
		}
		&-data {
			padding: 3px;
			font-size: 12px;
			display: flex;
			justify-content: left;
			flex-direction: column;
		}
	}
}

#popup {
    .wrapper{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
    }
	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;

		background-color: #181818;
		border-radius: 5px;
		box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
		z-index: 10;

		&-close-button {
			position: absolute;
			top: 0;
			right: 1rem;
			font-size: 4rem;
			color: #333;
			cursor: pointer;
			border: none;
			background: none;
		}

		&-content {
			display: flex;
		}

		&-image {
			position: relative;
		}
		&-poster {
			display: block;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&-mask {
			position: absolute;
			top: 0px;
			width: 100%;
			height: 100%;
			background: linear-gradient(to left, #181818, transparent 50%);
		}

		&-description {
			padding: 40px 20px;
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(3px);
		z-index: 5;
	}
}
